.new-app-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 720px) {
  .new-app-wrapper #btn01 {
    align-self: flex-end;
    width: 200px;
    margin: 10px;
  }
  .new-app-wrapper #btn02 {
    display: none;
  }
  .new-app-wrapper .new-app-form {
    height: calc(100vh - 100px) !important;
    width: 0;
    position: absolute;
    transform: translate(calc(-20px - 10vw), -40px);
    background-color: #ffffff;
    border: 1px solid black;
    border-radius: 0 5px 5px 0;
    z-index: 100;
    overflow: hidden;
  }
  .new-app-wrapper .new-app-form form {
    display: flex;
    flex-direction: column;
    padding: 20px;
    padding-top: 50px;
  }
  .new-app-wrapper .new-app-form form label {
    margin-top: 10px;
  }
  .new-app-wrapper .new-app-form form input {
    border: 1px solid #d9d9d9;
  }
  .new-app-wrapper .new-app-form form input:hover {
    border-color: #40a9ff;
  }
  .new-app-wrapper .new-app-form form input:focus {
    border: 1px solid #d9d9d9;
    outline: none;
    box-shadow: 2px 2px 2px #40a9ff;
  }
  .new-app-wrapper .new-app-form form button {
    margin-top: 10px;
  }
}
@media screen and (max-width: 720px) {
  .new-app-wrapper {
    justify-content: center;
    align-items: center;
  }
  .new-app-wrapper #btn01 {
    display: none;
  }
  .new-app-wrapper #btn02 {
    width: 200px;
    margin: 10px;
  }
  .new-app-wrapper .new-app-form {
    height: 0px;
    width: 100% !important;
    background-color: white;
    box-shadow: 2px 2px 2px #d9d9d9;
    border-radius: 5px;
    margin: 10px;
    overflow: hidden;
  }
  .new-app-wrapper .new-app-form form {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  .new-app-wrapper .new-app-form form p {
    margin-bottom: 10px;
  }
  .new-app-wrapper .new-app-form form label {
    margin-top: 10px;
  }
  .new-app-wrapper .new-app-form form input {
    border: 1px solid #d9d9d9;
  }
  .new-app-wrapper .new-app-form form input:hover {
    border-color: #40a9ff;
  }
  .new-app-wrapper .new-app-form form input:focus {
    border: 1px solid #d9d9d9;
    outline: none;
    box-shadow: 2px 2px 2px #40a9ff;
  }
  .new-app-wrapper .new-app-form form button {
    margin-top: 10px;
  }
}
